<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../Public/stylesheets/style.css"> remove public--> 
    <link rel="stylesheet" href="../stylesheets/style.css">

    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
        <div class="container">
          <h4><b> <%= name %> </b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
</body>
</html>